<nav class="navbar">
    <div class="container">
        <div class="navbar-header header-logo">
            <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </div>
        <div class="menu navbar-right">
            {{ $currentPage := . }} {{ range .Site.Menus.main }}
            <a class="menu-item{{if or ($currentPage.IsMenuCurrent " main " .) ($currentPage.HasMenuCurrent "main " .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a> {{ end }}
            <a href="javascript:void(0);" class="menu-item theme-switch">Switch ☀</a>
        </div>
    </div>
</nav>
<nav class="navbar-mobile" id="nav-mobile" style="display: none">
    <div class="container">
        <div class="navbar-header">
            <div> <a href="javascript:void(0);" class="theme-switch"><i class="iconfont icon-xihuan"></i></a>&nbsp;<a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a></div>
            <div class="menu-toggle">
                <span></span><span></span><span></span>
            </div>
        </div>

        <div class="menu" id="mobile-menu">
            {{ $currentPage := . }} {{ range .Site.Menus.main }}
            <a class="menu-item{{if or ($currentPage.IsMenuCurrent " main " .) ($currentPage.HasMenuCurrent "main " .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a> {{ end }}
            <a href="javascript:void(0);" class="theme-switch">☀</a>
        </div>
    </div>
</nav>